{% set isSuperAdmin = is_granted('ROLE_SUPER_ADMIN') %}
{% set isAdmin = is_granted('ROLE_ADMIN') %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
        {% block title %}ENCHRE - {% endblock %}
        </title>
        {% block stylesheets %}
        <link href="{{ asset("build/css/template.css") }}" rel="stylesheet" />
        <link href="{{ asset("build/css/project.css") }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
      <div class="container-fluid">
        {% include('base-includes/header.html.twig') %}
        {% include('base-includes/flashmessages.html.twig') %}
      </div>
      <div class="{% block containerType %}container{% endblock %}">
        <div class="row">
          {% block body %}
          {% endblock %}
        </div>
        {% include('base-includes/footer.html.twig') %}
      </div>
      {% block javascripts %}
        <script src="{{asset("build/runtime.js")}}"></script>
        <script src="{{asset("build/js/vendor.js")}}"></script>
        <script src="{{asset("build/js/main.js")}}"></script>
      {% endblock %}
    </body>
</html>
