{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Cahier {{ cahier.name }}{% endblock %}

{% block containerType %}container{% endblock %}

{% block body %}
{% if cahier.public or isAdmin %}
<div class="col green">
  <h1>
    {{cahier.name|upper}} {{cahier.dates}} - {{cahier.pages|length}} pages
    {% if isSuperAdmin %}
    <a class="btn" href="{{ asset('upload/transcriptions/'~cahier.teiFileName) }}" download="enchre_{{ cahier.shortName ~ "_" ~ "now"|date("Y-m-d") }}.xml">
      <img height="28px" src="{{ asset('img/TEI.jpg') }}">
    </a>
    <span class="float-right">
      <button type="button" class="btn btn-sm btn-outline-danger delete-cahier" data-toggle="modal" data-target="#deleteModal">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
      <a href="{{ path('admin_cahier_public_toggle', {'id': cahier.id}) }}" class="btn btn-sm btn-outline-secondary visibility-cahier">
        {% if not cahier.public %}
        <i class="fas fa-lock"></i> Rendre public
        {% else %}
        <i class="fas fa-lock-open"></i> Rendre privé
        {% endif %}
      </a>

      <a href="{{ path('admin_cahier_wip_toggle', {'id': cahier.id}) }}" class="btn btn-sm btn-outline-secondary wip-cahier">
        {% if not cahier.wip %}
        <i class="fas fa-hammer"></i> Marquer comme en chantier
        {% else %}
        <i class="fas fa-hammer"></i> Marquer comme terminé
        {% endif %}
      </a>
      {% endif %}
    </span>
  </h1>
  <div class="row">
    <div class="col-12">
      <p>
        <i>Pour accéder à la transcription d'une page, cliquez sur la vignette correspondante</i>
      </p>
      {% if cahier.wip %}
        <p>Le travail autour de l'édition de ce cahier n'est pas encore terminé.</p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-12 pb-4">
      <p>
        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapse-notice">
          Afficher la notice liminaire <i class="fas fa-caret-down"></i>
        </button>
      </p>
      <div class="collapse" id="collapse-notice">
        <div class="card card-body">
          {% set notice = getNotice(cahier) %}
          {{ notice | raw }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    {% for page in cahier.pages %}
      <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2 mb-1">
        <div class="card">
          <a class="text-muted" href="{{ path('display_page', {'slugName': cahier.slugName, 'name': page.name}) }}">
            <div class="card-body text-center p-1">
              {{ (page.name|length > 10 ? page.name|slice(0, 10) ~ '...' : page.name)  }}
            </div>
            <img loading="lazy" src="{{page.thumbnail}}" class="card-img-top"/>
          </a>
        </div>
      </div>
    {% endfor %}

  </div>
</div>

{% if isSuperAdmin %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Suppression du cahier</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer le cahier ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <a class="btn btn-danger" href="{{ path('admin_delete_cahier', {'id':cahier.id})}}">Supprimer</a>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endif %}
{% endblock %}
