<!--LEFT COL -->
<div class="col col-{{position}}">
  <ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
      <a data-toggle="tab" class="nav-link {{position == "left" ? "active"}}" data-href="nav-facsimile-{{position}}"  href="#nav-facsimile-{{position}}">Fac-similé</a>
    </li>
    <li class="nav-item">
      <a data-toggle="tab" class="nav-link  {{position == "right" ? "active"}}" data-href="nav-diplo-{{position}}" href="#nav-diplo-{{position}}">Transcr. semi-dipl.</a>
    </li>
    <li class="nav-item">
      <a data-toggle="tab" class="nav-link" data-href="nav-linea-{{position}}" href="#nav-linea-{{position}}">Transcr. linéarisée</a>
    </li>
    {% if notes matches '/<dt/' %}
    <li class="nav-item">
      <a data-toggle="tab" class="nav-link" data-href="nav-notes-{{position}}" href="#nav-notes-{{position}}">Annotations</a>
    </li>
    {% endif %}
  </ul>
  <div class="tab-content">
    <!--FAC-SIMILE -->
    <div class="tab-pane fade {{position == "left" ? " show active"}}" id="nav-facsimile-{{position}}">
      <div class="openseadragon-buttons-{{position}} openseadragon-buttons text-center pt-2">
        <button id="{{position}}-osd-zoom-in" type="button" class="btn btn-sm btn-light">
          <i class="fa fa-search-plus"></i>
        </button>
        <button id="{{position}}-osd-zoom-out" type="button" class="btn btn-sm btn-light">
          <i class="fa fa-search-minus"></i>
        </button>
        <button id="{{position}}-osd-home" type="button" class="btn btn-sm btn-light">
          <i class="fa fa-home"></i>
        </button>
        <button id="{{position}}-osd-full-page" type="button" class="btn btn-sm btn-light">
          <i class="fa fa-arrows-alt"></i>
        </button>
        <button id="{{position}}-osd-left" type="button" class="btn btn-sm btn-light">
          <i class="fa fa-undo"></i>
        </button>
        <button id="{{position}}-osd-right" type="button" class="btn btn-sm btn-light">
          <i class="fa fa-redo"></i>
        </button>
      </div>
      <div class="rounded seadragon-viewer" id="seadragon-viewer-{{position}}"></div>
    </div>

    <!--PSEUDODIPLO -->
    <div class="tab-pane fade {{position == "right" ? " show active"}}" id="nav-diplo-{{position}}">
      <div class="pseudodiplo">
        <div class="row">
          <div class="col">
            {% if isAdmin %}
              <span class="mt-2 toggle-linenumbers-btn btn btn-sm btn-light" data-pos="{{position}}" data-container="#nav-diplo-{{position}}">
                <i class="fas fa-list-ol"></i> Numéros de ligne
              </span>
            {% endif %}
            <div class="btn-group btn-group-sm float-right mt-2">
              <span id="reading" class="reset-style-btn btn btn-light" data-pos="{{position}}" data-classname="reading" data-container="#nav-diplo-{{position}}">
                <div class="rounded-circle float-left mr-2" style="width:16px;height:16px"></div>
                Texte incertain
              </span>
              <span id="content" class="reset-style-btn btn btn-light" data-pos="{{position}}" data-classname="content" data-container="#nav-diplo-{{position}}">
                <div class="rounded-circle float-left mr-2" style="width:16px;height:16px"></div>
                Texte fautif
              </span>
              <span id="enrichment" class="reset-style-btn btn btn-light" data-pos="{{position}}" data-classname="enrichment" data-container="#nav-diplo-{{position}}">
                <div class="rounded-circle float-left mr-2" style="width:16px;height:16px"></div>
                Termes repérés
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col mt-3">{{ diplomatic | raw }}</div>
        </div>
      </div>
    </div>
    <!--LINEARIZED -->
    <div class="tab-pane fade" id="nav-linea-{{position}}">
      <div class="linearized">
        <div class="row">
          <div class="col mt-3 text-justify">{{ linearized | raw }}</div>
        </div>
      </div>
    </div>
    <!--NOTES -->
    <div class="tab-pane fade" id="nav-notes-{{position}}">
      <div class="row">
        <div class="col mt-3 text-justify">
        {{ notes | raw }}
        </div>
      </div>
    </div>
  </div>
</div>
