{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Cahier {{ page.cahier.name }}{% endblock %}

{% block containerType %}container-fluid{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset("build/css/elan-tei.css") }}" rel="stylesheet" />
  <link href="{{ asset("build/css/HR_style.css") }}" rel="stylesheet" />
{% endblock %}

{% block body %}
{% if page.cahier.public or isAdmin %}

  {% set diplomatic = getHTML("pseudodiplo", page.cahier, page.name) %}
  {% set linearized = getHTML("linearized", page.cahier, page.name) %}
  {% set notes = getHTML("notes", page.cahier, page.name) %}

  <input id="imageURL" name="imageURL" type="hidden" value="{{page.image}}">

  <div class="col">
    <h3>
    {% if page.previous %}
      {% set path = path('display_page', {'slugName': page.cahier.slugName, 'name': page.previous.name}) %}
      <a id="previous-btn" data-absolute="{{ absolute_url(path) }}" class="btn btn-sm btn-light" href="{{ path }}">
          <i class="fas fa-chevron-circle-left"></i>
      </a>
    {% endif %}

    <a class="p-2 text-muted" href="{{ path('display_cahier', {slugName: page.cahier.slugName}) }}">
      {{page.cahier.name|upper}}
    </a> - page {{ page.name }}

    {% set next = getNext(page) %}
    {% if next %}
      {% set path = path('display_page', {'slugName': page.cahier.slugName, 'name': next.name}) %}
      <a id="next-btn" data-absolute="{{ absolute_url(path) }}" class="btn btn-sm btn-light" href="{{ path }}">
          <i class="fas fa-chevron-circle-right"></i>
      </a>
    {% endif %}
    </h3>

    <div class="row mt-3">
      {% set position = "left" %}
      {% include 'half-page.html.twig' %}

      {% set position = "right" %}
      {% include 'half-page.html.twig' %}
    </div>
  </div>

  <div class="modal fade" id="noteModale" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="noteModaleLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-justify">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="noticeModale" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="noticeModaleLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-justify">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/cookie.js') }}"></script>
  <script src="{{ asset('build/js/display-page.js') }}"></script>
{% endblock %}
