{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Mot de passe oublié{% endblock %}

{% block body %}
<div class="col grey">
  <form method="post">
      <h1 class="h2">Mot de passe oublié</h1>
      <div class="form-group">
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
      </div>
      <button class="btn btn-primary" type="submit">
          Envoyer un mail
      </button>
  </form>
</div>
{% endblock %}
