{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Se connecter{% endblock %}

{% block body %}
<div class="col grey">
  <form method="post">
      {% if error %}
          <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}

      <h1>Se connecter</h1>
      <div class="alert alert-info">
        Si vous n'avez pas encore de compte, merci de vous inscrire <a href="{{ path('app_register') }}">ici</a>.
      </div>

      <div class="form-group">
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
      </div>

      <div class="form-group">
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
      </div>

      <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">

      <div class="checkbox mb-3">
          <label>
              <input type="checkbox" name="_remember_me"> Se souvenir de moi
          </label>
      </div>

      <button class="btn btn-primary" type="submit">
          Se connecter
      </button>
  </form>

  <div>
      <a href="{{ path('app_forgotten_password') }}">Mot de passe oublié</a>
  </div>
</div>

{% endblock %}
