{% extends 'base.html.twig' %}

{% block title %}{{parent()}} S'inscrire{% endblock %}

{% block body %}
<div class="col grey">
  <form method="post">
     <h1>S'inscrire</h1>
      <div class="form-group">
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
      </div>
      <div class="form-group">
         <label for="inputPassword" class="sr-only">Mot de passe</label>
         <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
      </div>

     <button class="btn btn-primary" type="submit">
         S'inscrire
     </button>
  </form>
</div>
{% endblock %}
