.pseudodiplo {}

.linearized {}

.apparatus {}

.text_right {
  float: right;
}

.gap {
  display: inline-block;
  overflow: hidden;
  vertical-align: text-bottom;
  font-style: italic;
  padding: 0;
}

.front {
  text-align: center;
}

.add {
  font-size: 90%;
  display: inline-block;
}

.subst {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}

.subst>.del {
  color: grey;
  margin-block-end: -40px;
}

/*  Used Tetradic Color for #fcf8e3 (from https://www.colorhexa.com/fcf8e3) + lightgrey #f2f2f2*/
mark {
  /* yellow */
  background-color: #fcf8e3;
  position: relative;
  padding: 0;
  margin: 0;
}

mark.content, #content div.rounded-circle {
  /* red */
  background-color: darksalmon; /* without transparency */
  background-color: rgb(233, 150, 122, 0.8); /* 20% transparent */
}

mark.enrichment, #enrichment div.rounded-circle {
  /* green */
    background-color: gold; /* without transparency */
  background-color: rgb(255, 215, 0, 0.8); /* 20% transparent */
}

mark.reading, #reading div.rounded-circle {
  /* blue */
  background-color: lightblue; /* without transparency */
  background-color: rgb(173, 216, 230, 0.8); /* 20% transparent */
}

mark.semantic {
  /* grey */
  background-color: #f2f2f2; /* without transparency */
  background-color: rgba(242, 242, 242, 0.8); /* 20% transparent */
}

.reset-styles {
  background-color: inherit !important;
}

.decorated {
  background-color:antiquewhite;
}