.page {
    padding-left: 1ex;
}
.titlePart {
    text-align: center;
}

.poem {
    margin: 1ex;
}
.poem_line {
    display: block;
}

.pseudodiplo .titlePart::first-letter {
    font-style: italic;
}

.hr_note {
    /* border: 1px lightgrey solid;*/
    padding: 3px;
    margin: 10px;
}

.pseudodiplo {
    letter-spacing: 0.5px;
    /*font-style: italic;*/
}
.pseudodiplo .page {
    line-height: 30px;
}

.metamark.separator {
}

.metamark.blank_space {
    height: 20px;
}

.metamark.border_top {
    border-top: 1px solid black;
    margin-top: 5px;
    width: 50px;
    margin: auto;
}

.metamark.border_left {
    border-left: 1px solid black;
    margin-left: -5px;
    padding-left: 5px;
}

.metamark.border_right {
    border-right: 1px solid black;
    margin-right: -5px;
    padding-right: 5px;
}
.metamark.arabesque::before {
    content:"X";
}
.metamark.margin_left {
    position: relative;
    display:inline;
    margin-left: -3ex;
    margin-right: 1.2ex;
}
.metamark.margin_right {
    position: absolute;
    display: inline;
    right: 0;
}
.underline {
    text-decoration: underline;
}
.double_underline {
    text-decoration: underline;
    text-decoration-style: double;
}

.del_diagonal {
    background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
}
.note-call {
    margin: .10em .32em;
    padding: .15em .16em;
    /*background-color: #dae0e5;*/
    font-weight: normal;
    display: inline; /*  avoid line break before */
}
.note-call+.note-call {
    margin: 0;
}
.numline {
    display: none;
    vertical-align: top;
    color: grey;
    font-size: small;
    position: absolute;
    left: 1ex;
}
/*  To improve... */
mark > .numline {
    position: relative;
    left: -32px;
}
.numline + .numline {
    margin-top: 2em;
}

mark sup a {
    background-color: rgb(255, 215, 0, 0.8);
    color: rgb(38, 53, 65);
    border: 0.5px solid rgb(38, 53, 65, 0.8);
    padding: 0px 5px;
    border-radius: 50%;
}