h1 {
  margin-bottom: 20px;
  padding-left: 1rem;
}

.blue h1 {
  border-left: 1rem solid #6699CC;
}

.yellow h1 {
  border-left: 1rem solid #FFC800;
}

.green h1 {
  border-left: 1rem solid #3D7328;
}

.grey h1 {
  border-left: 1rem solid antiquewhite;
}

header {
  border-bottom: 1px solid #e5e5e5;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
  line-height: 1;
  background-color: transparent;
}

header a,
header a:hover {
  color: #343a40 !important;
  text-decoration: none;
}

nav a.green-border {
  border-top: 6px solid #3D7328;
}

nav a.blue-border {
  border-top: 6px solid #6699CC;
}

nav a.yellow-border {
  border-top: 6px solid #FFC800;
}

nav a.orange-border {
  border-top: 6px solid #FF8427;
}

#main-nav {
  height: 2.75rem;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: black;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  color: grey;
}

/* rows */
div.dropdown-multicol {
  width: 30em;
}

div.dropdown-row>a.dropdown-item {
  display: inline-block;
  width: 32%;
  text-align: center;
}



/* OPENSEADRAGON
******************/
.openseadragon-buttons {
  margin-bottom: 10px;
}

.seadragon-viewer {
  width: 100%;
  height: 800px;
  background-color: #f8f9fa;
}

.logo-bottom {
  margin: 10px;
  height: 32px;
}

/* NOTES
******************/
.note-call:hover {
  cursor: pointer;
}

/* NOTICES
****************/
#notice-panel {
  text-align: center;
  position: sticky;
  top: 170px;
}

#notice-panel a {
  margin: 2px;
}

.entry-resp {
  float: right;
  font-size: smaller;
}

.delete-cahier,
.wip-cahier,
.visibility-cahier {
  padding: 4px;
  font-size: 0.8rem;
}