/*import de bootstrap*/
@import "~bootstrap/dist/css/bootstrap.min.css";

/* FOOTER */
#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2px 0px;
}

#footer img {
  max-height: 55px;
  max-width: 70px;
  margin-left: 8px;
}

#footer .links a {
  font-size: smaller;
  display: block;
}

#footer .logos a:hover {
  text-decoration: none;
}

/* EVERYWHERE */
.container-fluid {
  padding-top: 10px;
}

:focus, :active, :active:focus {
  outline: none;
}

body {
  padding-bottom: 200px;
}

#home {
  text-align: justify;
  font-size: 110%;
}

#home div {
  margin-bottom: 10px;
}

.home-img {
  max-height: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  height: auto;
  width: auto;
}

.biblio {
  text-align: justify;
}

.biblio-section-title {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
}