{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Import d'un cahier{% endblock %}

{% block body %}
  <div class="col grey">
    <h1>Import d'un cahier</h1>
    {{form(form)}}
  </div>
{% endblock %}
