{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Administration du site{% endblock %}

{% block body %}
  <div class="col grey">
    <h1>Administration du site</h1>
    <p>
      <a href="{{path('admin_list_users')}}">Gestion des utilisateurs</a>
    </p>
    <p>
      <a href="{{path('admin_import_cahier')}}">Import d'un cahier</a>
    </p>
    <p>
      <a href="{{path('admin_import_common')}}">Import des "communs"</a>
    </p>
    <p>
      <a href="{{path('admin_import_edito')}}">Import de contenus éditoriaux & dossiers</a>
    </p>
    {# <p>
      <a href="{{path('admin_upload_img')}}">Gestion des images</a>
    </p> #}
  </div>
{% endblock %}
