{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Upload image{% endblock %}

{% block body %}
  <div class="col-12">
    <h2>Upload image</h2>
    {{form(form)}}
  </div>

  <div class="col-12">
    <h2>Liste des images</h2>
    <div class="row">
      {% for image in images %}
      <div class="col-3">
        <div class="card" >
          {% set url = asset('upload/images/' ~ image) %}
          <img src="{{ url }}" class="card-img-top" >
          <div class="card-body">
            <p class="card-text">
              {{ url }}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
