{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Gestion des utilisateurs{% endblock %}

{% block body %}
<div class="col grey">
  <h1>Gestion des utilisateurs</h1>

  <p>
    Les <strong>collaborateurs</strong> peuvent voir les cahiers même s'ils sont définis comme "privés". Les <strong>administrateurs</strong> peuvent eux gérer les utilisateurs, ajouter/supprimer les cahiers et changer leur visibilité. <br/> Le changement de rôle ne sera effectif qu'à la prochaine connexion de l'utilisateur.
  </p>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Adresse mail</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
      <td>{{user.email}}</td>
      <td>
          {% for role in user.roles %}
            {% if role != "ROLE_USER" %}
		- {{role|trans}} -
	    {% endif %}
          {% endfor %}
      </td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Définir rôle
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{path('admin_set_role',{'id':user.id, 'role':"ROLE_USER"})}}">{{"ROLE_USER"|trans}}</a>
            <a class="dropdown-item" href="{{path('admin_set_role',{'id':user.id, 'role':"ROLE_ADMIN"})}}">{{"ROLE_ADMIN"|trans}}</a>
            <a class="dropdown-item" href="{{path('admin_set_role',{'id':user.id, 'role':"ROLE_SUPER_ADMIN"})}}">{{"ROLE_SUPER_ADMIN"|trans}}</a>
          </div>
        </div>
        <a class="btn btn-sm btn-danger" href="{{path('admin_delete_user',{'id':user.id})}}">Supprimer</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}
