<div id="footer" class="bg-light">
  <div class="row text-center">
    <div class="col-8 logos">
      <a target="_blank" href="https://www.univ-grenoble-alpes.fr/"  data-toggle="tooltip" data-placement="top" title="Université Grenoble Alpes">
        <img src="{{asset('img/logo_univ_grenoble_alpes.jpg')}}"/>
      </a>
      <a target="_blank" href="http://www.cnrs.fr" data-toggle="tooltip" data-placement="top" title="CNRS">
        <img src="{{asset('img/logo_cnrs.png')}}"/>
      </a>
      <a target="_blank" href="https://demarreshs.hypotheses.org/" data-toggle="tooltip" data-placement="top" title="Démarre SHS !">
        <img src="{{asset('img/logo_demarre_shs.jpg')}}"/>
      </a>
      <a target="_blank" href="http://litt-arts.univ-grenoble-alpes.fr/" data-toggle="tooltip" data-placement="top" title="UMR 5316 LITT&ARTS">
        <img src="{{asset('img/logo_littarts.png')}}"/>
      </a>
      <a target="_blank" href="https://www.huma-num.fr/" data-toggle="tooltip" data-placement="top" title="TGIR Huma-Num">
        <img src="{{asset('img/logo_hn.jpg')}}"/>
      </a>
      <a target="_blank" href="http://www.elan-numerique.fr/" data-toggle="tooltip" data-placement="top" title="Équipe Littératures et Arts Numériques">
        <img src="{{asset('img/logo_elan.png')}}"/>
      </a>
      <a target="_blank" href="http://www.bnf.fr" data-toggle="tooltip" data-placement="top" title="Bibliothèque nationale de France">
        <img src="{{asset('img/logo_bnf.png')}}"/>
      </a>
      <a target="_blank" href="https://www.bibliotheque-institutdefrance.fr/" data-toggle="tooltip" data-placement="top" title="Bibliothèque de l’Institut de France">
        <img src="{{asset('img/logo_institut-2.jpg')}}"/>
      </a>
      <a target="_blank" href="https://slhdr.hypotheses.org/" data-toggle="tooltip" data-placement="top" title="Société des Lecteurs d’Henri de Régnier">
        <img src="{{asset('img/logo_slhdr.jpg')}}"/>
      </a>
    </div>
    <div class="col text-left links">
      <a class="text-muted" href="{{path("encoding")}}">Manuel d'encodage</a>
      <a class="text-muted" href="{{path("legal_notices")}}">Mentions légales</a>
      <a class="text-muted" target="_blank" href="https://gitlab.com/litt-arts-num/enchre">Code source</a>
    </div>
    <div class="col text-left links">
      <a class="text-muted" href="{{ path('search_index') }}">Rechercher</a>
      {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a class="text-muted" href="{{ path('app_login') }}">Accès réservé</a>
      {% else %}
        {% if isSuperAdmin %}
          <a class="text-muted" href="{{ path('admin_index') }}">
            Administration
          </a>
        {% endif %}
        <a class="text-muted" href="{{ path('app_logout') }}">Se déconnecter</a>
      {% endif %}
    </div>
  </div>
</div>
