<header class="py-2">
  <div class="row">
    <div class="col text-center">
      <a href="{{ path('homepage') }}">
        ENCHRE  <img height=45px src="{{ asset('img/Henri_de_Régnier_by_Vallotton.jpg')}}"/> Édition numérique des <i>Cahiers</i> d’Henri de Régnier
      </a>
    </div>
  </div>
</header>

<nav id="main-nav" class="nav justify-content-center mb-2">
  <a class="p-2 blue-border text-muted" href="{{ path('homepage') }}">Accueil </a>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle blue-border text-muted" href="#" id="presentation" role="button" data-toggle="dropdown">
      Présentation
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{ path('edito_corpus')}}">Projet & Corpus</a>
      <a class="dropdown-item" href="{{ path('edito_principes')}}">Principes d'édition</a>
      <a class="dropdown-item" href="{{ path('equipe_partenaires')}}">Équipe</a>
    </div>
  </li>

  <a class="p-2 blue-border text-muted" href="{{ path('mode_emploi') }}">Mode d'emploi</a>

  <li class="nav-item dropdown">
    <a  class="nav-link dropdown-toggle text-muted green-border" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
      Cahiers (1887-1905)
    </a>
    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
    {% for cahier in getAllCahiers(isAdmin) %}
        <a class="dropdown-item {{cahier.slug ? "" : "disabled"}}" href="{{ (cahier.slug is not null) ? (path('display_cahier', {slugName: cahier.slug})) : "#" }}">
        {{cahier.name|upper}} {{ cahier.dates }}
        </a>
    {% endfor %}
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle green-border text-muted" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Années (1906-1936)
    </a>
    <div class="dropdown-menu  dropdown-multicol" aria-labelledby="navbarDropdown">
      <div class="dropdown-row">
        <a class="disabled dropdown-item" href="#">1906</a>
        <a class="disabled dropdown-item" href="#">1907</a>
        <a class="disabled dropdown-item" href="#">1908</a>
      </div>
      <div class="dropdown-row">
        <a class="disabled dropdown-item" href="#">1909</a>
        <a class="disabled dropdown-item" href="#">1910</a>
        <a class="disabled dropdown-item" href="#">1911</a>
      </div>
      <div class="dropdown-row">
      <a class="disabled dropdown-item" href="#">1912</a>
      <a class="disabled dropdown-item" href="#">1913</a>
      <a class="disabled dropdown-item" href="#">1914</a>
       </div>
      <div class="dropdown-row">
      <a class="disabled dropdown-item" href="#">1915</a>
      <a class="disabled dropdown-item" href="#">1916</a>
      <a class="disabled dropdown-item" href="#">1917</a>
       </div>
      <div class="dropdown-row">
      <a class="disabled dropdown-item" href="#">1918</a>
      <a class="disabled dropdown-item" href="#">1919</a>
      <a class="disabled dropdown-item" href="#">1920</a>
       </div>
      <div class="dropdown-row">
      <a class="disabled dropdown-item" href="#">1921</a>
      <a class="disabled dropdown-item" href="#">1922</a>
      <a class="disabled dropdown-item" href="#">1923</a>
       </div>
      <div class="dropdown-row">
      <a class="disabled dropdown-item" href="#">1924</a>
      <a class="disabled dropdown-item" href="#">1926</a>
      <a class="disabled dropdown-item" href="#">1927</a>
       </div>
      <div class="dropdown-row">
      <a class="disabled dropdown-item" href="#">1928</a>
      <a class="disabled dropdown-item" href="#">1929</a>
      <a class="disabled dropdown-item" href="#">1930</a>
       </div>
      <div class="dropdown-row">
      <a class="disabled dropdown-item" href="#">1931</a>
      <a class="disabled dropdown-item" href="#">1932</a>
      <a class="disabled dropdown-item" href="#">1933</a>
       </div>
      <div class="dropdown-row">
      <a class="disabled dropdown-item" href="#">1934</a>
      <a class="disabled dropdown-item" href="#">1935</a>
      <a class="disabled dropdown-item" href="#">1936</a>
       </div>
    </div>
  </li>

  <a class="p-2 yellow-border text-muted" href="{{ path('dictionary') }}">Dictionnaire</a>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle yellow-border text-muted" href="#" id="presentation" role="button" data-toggle="dropdown">
      Dossier
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{ path('chronologie')}}">Chronologie</a>
      <a class="dropdown-item" href="{{ path('bibliographie')}}">Bibliographie régniérienne</a>
      <a class="dropdown-item" href="{{ path('table_cahiers')}}">Table des Cahiers</a>
      <a class="dropdown-item" href="{{ path('index-works')}}">Index des œuvres citées</a>
      <a class="dropdown-item" href="{{ path('index-persons')}}">Index des noms propres</a>
      <a class="dropdown-item disabled" href="{{ path('index-notions')}}">Index des notions</a>
    </div>
  </li>

  {# <a class="p-2 orange-border text-muted" target="_blank" href="http://lodel.elan-numerique.fr/actes-et-travaux/index.php">Actes & Travaux</a> #}
</nav>
