{% extends 'base.html.twig' %}

{% block title %}
  {{parent()}}
  Page d'accueil
{% endblock %}

{% block body %}
  <div class="col" id="home">
    <div class="row">
      <div class="col">
        Rédigés au fil des jours pendant un demi-siècle (1887-1936) et demeurés inédits de son vivant, les cahiers intimes d’Henri de Régnier constituent non seulement le laboratoire de son œuvre publiée, mais également une œuvre à part entière, et qui se
        donne à lire comme telle. L’édition procurée, en 2002, par François Broche et David J. Niederauer en a révélé la richesse exceptionnelle, contribuant ainsi à la redécouverte de cette figure majeure de la génération symboliste, qui fut aussi l’un des
        romanciers les plus en vue de la Belle Époque ; elle a fourni, parallèlement, un gisement précieux d’indications sur la vie littéraire et mondaine du temps. Cependant, ce continent longtemps enseveli demeure encore très largement inexploré : de là le
        projet d’une édition numérique des <i>Cahiers</i>.
      </div>
      <div class="col">
        <img class="home-img rounded" src="{{ asset('img/home.gif')}}"/>
      </div>
    </div>

    <div class="row">
      <div class="col">
       Développé au sein de l’UMR Litt&Arts (CNRS/Université Grenoble Alpes) en partenariat avec la Bibliothèque de l’Institut et la Société des Lecteurs d’Henri de Régnier, ce projet vise à mettre à la
      disposition du public et des chercheurs une transcription entièrement révisée et complétée, assortie d’outils de recherche et d’éclairages critiques conçus en fonction des multiples enjeux (biographiques, historiques, littéraires…) qui font l’intérêt
      de cette écriture de soi à soi.
      <br/><br/>
      </div>
    </div>

  </div>
{% endblock %}
