{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Dictionnaire{% endblock %}

{% block containerType %}container{% endblock %}

{% block body %}
<div class='col-12 yellow'>
  <h1>Dictionnaire</h1>
</div>

<div class='col-10'>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fas fa-filter"></i>
      </span>
    </div>
    <input class="form-control" id="filter-notice" type="text" placeholder="Filtrer" value="" autocomplete="off">
  </div>

  <!--<div class="alert alert-info mt-3">Aucune notice disponible</div>-->
  {{html|raw}}

</div>
<div class='col-2'>
  <div id="notice-panel">
    <div class="card">
      <div class="card-header">
        <span class="d-none d-xl-inline">Lettres</span>
        <a class="btn btn-sm btn-outline-secondary" href="#top">
          <i class="fas fa-arrow-up"></i>
        </a>
      </div>
      <div class="card-body p-2">
       <a href="#notices-bio-A">A</a>
       <a href="#notices-bio-B">B</a>
       <a href="#notices-bio-C">C</a>
       <a href="#notices-bio-D">D</a>
       <a href="#notices-bio-E">E</a>
       <a href="#notices-bio-F">F</a>
       <a href="#notices-bio-G">G</a>
       <a href="#notices-bio-H">H</a>
       <a href="#notices-bio-I">I</a>
       <a href="#notices-bio-J">J</a>
       <a href="#notices-bio-K">K</a>
       <a href="#notices-bio-L">L</a>
       <a href="#notices-bio-M">M</a>
       <a href="#notices-bio-N">N</a>
       <a href="#notices-bio-O">O</a>
       <a href="#notices-bio-P">P</a>
       <a href="#notices-bio-Q">Q</a>
       <a href="#notices-bio-R">R</a>
       <a href="#notices-bio-S">S</a>
       <a href="#notices-bio-T">T</a>
       <a href="#notices-bio-U">U</a>
       <a href="#notices-bio-V">V</a>
       <a href="#notices-bio-W">W</a>
       <a href="#notices-bio-X">X</a>
       <a href="#notices-bio-Y">Y</a>
       <a href="#notices-bio-Z">Z</a>
     </div>
   </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/filter.js') }}"></script>
{% endblock %}
