{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	{{"mode_emploi"|trans}}
{% endblock %}

{% block body %}
	<div class="col blue text-justify">
		<h1>{{"mode_emploi"|trans}}</h1>

		<h2>Protocole de navigation</h2>
		<p>
			<b>1. Ouvrir</b>
			l’un des deux
			<b>menus déroulants « 1887-1905 » et « 1906-1936 »</b>
			: ils permettent (ou permettront à terme et au fur et à mesure de l’avancée du projet) d’<b>accéder aux différentes sections des Cahiers</b>, c’est-à-dire aux différentes
			<b>périodes d’écriture</b>
			correspondantes : par exemple « Cahier V (avr. 1887 – oct. 1887) » dans le premier cas ou « 1910 » dans le second (sur la distinction entre les deux périodes et leurs systèmes de divisions respectifs, voir la rubrique « Principes d’édition » dans le menu « Présentation »).
		</p>
		<p>
			<b>2. Sélectionner une section</b>. Lorsque la transcription correspondante est d’ores et déjà disponible, le lien est actif et permet d’ouvrir une fenêtre dans laquelle apparaissent :
			<ul>
				<li>l’intitulé de la section suivi du nombre de pages (ex. : « Cahier V (avr. 1887 – oct. 1887) – 98 pages »),</li>
				<li>un bouton d’affichage de la notice liminaire (contexte historique et biographique, analyse littéraire et description matérielle),</li>
				<li>les vues des fac-similés de l’ensemble des pages constituant la section, sous formes de vignettes sélectionnables.</li>
			</ul>
			Le cas échéant, la mention « En chantier » indique (provisoirement) que la transcription mise en ligne n’a pas encore été complètement révisée et/ou que le paratexte critique (notice liminaire, annotations, notices) est en cours de rédaction (qu’il n’est donc pas encore disponible ou ne l’est que partiellement).
		</p>
		<p>
			<b>3. Sélectionner la première vignette</b>
			(c’est-à-dire la première page de la section)
			<b>ou une autre</b>
			(en cas de consultation ponctuelle d’une page en particulier) : la fenêtre qui s’ouvre affiche par défaut le fac-similé du manuscrit à gauche et sa transcription semi-diplomatique à droite.
		</p>
		<p>
			<b>4. Sélectionner le contenu</b>
			à afficher dans chacune des deux zones (gauche, droite)
			<b>à l’aide des 4 onglets</b>
			disponibles de part et d’autre :
			<ul>
				<li>« Fac-similé » (vue de la page manuscrite),</li>
				<li>« Transcr. semi-dipl. » (transcription semi-diplomatique),</li>
				<li>« Transcr. linéarisée » (transcription linéarisée),</li>
				<li>« Annotations » (annotations critiques – ce dernier onglet n’apparaissant pas en cas d’absence d’annotations).</li>
			</ul>
			Ce dispositif offre de
			<b>multiples possibilités d’affichage</b>
			en plus de la disposition par défaut :
			<ul>
				<li>fac-similé de la page à gauche et transcription linéarisée à droite (ou vice versa),</li>
				<li>transcription semi-diplomatique à gauche et transcription linéarisée à droite (ou vice versa),</li>
				<li>transcription semi-diplomatique à gauche et annotations à droite (ou vice versa),</li>
				<li>transcription linéarisée à gauche et annotations à droite (ou vice versa).</li>
				Les boutons associés à
				<b>l’affichage du fac-similé</b>
				permettent également d’en modifier 
																				        l’affichage (agrandissement, réduction, affichage en plein écran ou modification de l’orientation).
			</ul>
		</p>
		<p>
			<b>5. Pour naviguer d’une page à l’autre</b>
			à l’intérieur d’une même section :
			<ul>
				<li>pour aller à la page précédente ou à la suivante, utiliser les flèches (< >)</li>
				<li>pour consulter une ou des pages plus éloignée(s), cliquer sur l’intitulé de la section (par exemple : « Cahier V ») pour revenir à l’étape 2.</li>
			</ul>
		</p>
		<p>
			<b>6. Pour naviguer d’une section à l’autre</b>
			(par exemple du Cahier V au Cahier X ou de l’année 1908 à l’année 1930), revenir à l’étape 1.

			<h2>Fonctionnalités avancées</h2>
			<h3>Fonctionnalités propres à la transcription semi-diplomatique</h3>
			<ul>
				<li>Les
					<b>leçons conjecturales</b>
					(mots ou suites de mots qui n’ont pu être déchiffrés avec certitude) sont surlignés en
					<b>bleu</b>
					(le bouton « Texte incertain » permettant de désactiver ou de réactiver ce surlignage) ; pour faire apparaître, le cas échéant, la (ou les) leçon(s) alternatives proposée(s), il suffit de positionner le curseur sur la zone surlignée.</li>
				<li>Les
					<b>endroits manifestement fautifs</b>
					(faute d’orthographe, mot tronqué, ponctuation manquante ou incongrue, etc.) et donnant lieu à correction dans la transcription linéarisée sont surlignés en
					<b>rose</b>
					(le bouton « Texte fautif » permettant de désactiver ou de réactiver ce surlignage) ; il suffit de positionner le curseur sur la zone surlignée pour faire apparaître la correction proposée.</li>
				<li>Les
					<b>éléments faisant l’objet d’un balisage spécifique</b>
					(tels que noms de lieux, de personnes, dates ou titres d’œuvres) sont surlignés en
					<b>jaune</b>
					(le bouton « Termes repérés » permettant de désactiver ou de réactiver ce surlignage) ; lorsque ces éléments figurent dans le texte sous une forme incomplète ou inexacte (nom de personne sans prénom, titre abrégé, etc.), il suffit de positionner le curseur sur la zone surlignée pour faire apparaître la forme complétée ou corrigée.</li>
				<li>Le bouton «
					<b>Numéros de ligne</b>
					» est un outil de repérage conçu pour l’essentiel à l’usage de l’équipe éditoriale.</li>
			</ul>

			<h3>Fonctionnalités communes aux transcriptions semi-diplomatique et linéarisée</h3>
			<ul>
				<li>Les
					<b>appels de notes</b>
					numérotés renvoient aux
					<b>annotations</b>. Celles-ci peuvent être affichées sous deux formes : soit en cliquant sur l’appel de note (ouverture d’une fenêtre popup) pour une consultation ponctuelle, soit en cliquant sur l’onglet « Annotations » (voir ci-dessus, étape 4) pour une consultation plus systématique. Pour retrouver la forme développée d’une référence bibliographique donnée sous forme abrégée dans les annotations, on se reportera à l’<b>Index des œuvres</b>
					citées dans le menu «
					<b>Dossier</b>
					».</li>
				<li>Le symbole i renvoie à une notice, accessible alphabétiquement dans le menu « Dictionnaire ». Pour retrouver les différentes occurrences d’un mot (nom de personne, notion) faisant l’objet d’une notice dans le Dictionnaire, on se reportera à l’Index des nom propres ou à l’Index des notions dans le menu « Dossier ».</li>
			</ul>

			Sur la distinction et la complémentarité entre les annotations et les notices, on se reportera au menu « Principes d’édition ».
		</p>
	</div>
{% endblock %}
