{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Bibliographie{% endblock %}

{% block body %}
<div class="col yellow">
  <h1>Bibliographie régniérienne</h1>
  <embed src="{{asset('upload/pdf/HR_BIBLIOGRAPHIE.pdf')}}" type="application/pdf" width="100%" height="800px" />
</div>
{% endblock %}
