{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Index des notions{% endblock %}

{% block body %}
<div class='col-12 yellow'>
  <h1>Index des notions</h1>
</div>

<div class='col-10'>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fas fa-filter"></i>
      </span>
    </div>
    <input class="form-control" id="filter-notice" type="text" placeholder="Filtrer" value="" autocomplete="off">
  </div>
  
  <!--<div class="alert alert-info mt-3">Aucune notice disponible</div>-->
  {{html|raw}}
  
</div>
<div class='col-2'>
  <div id="notice-panel">
    <div class="card">
      <div class="card-header">
        <span class="d-none d-xl-inline">Lettres</span>
        <a class="btn btn-sm btn-outline-secondary" href="#top">
          <i class="fas fa-arrow-up"></i>
        </a>
      </div>
      <div class="card-body p-2">
	<a href="#index-A">A</a>
	<a href="#index-B">B</a>
	<a href="#index-C">C</a>
	<a href="#index-D">D</a>
	<a href="#index-E">E</a>
	<a href="#index-F">F</a>
	<a href="#index-G">G</a>
	<a href="#index-H">H</a>
	<a href="#index-I">I</a>
	<a href="#index-J">J</a>
	<a href="#index-K">K</a>
	<a href="#index-L">L</a>
	<a href="#index-M">M</a>
	<a href="#index-N">N</a>
	<a href="#index-O">O</a>
	<a href="#index-P">P</a>
	<a href="#index-Q">Q</a>
	<a href="#index-R">R</a>
	<a href="#index-S">S</a>
	<a href="#index-T">T</a>
	<a href="#index-U">U</a>
	<a href="#index-V">V</a>
	<a href="#index-W">W</a>
	<a href="#index-X">X</a>
	<a href="#index-Y">Y</a>
	<a href="#index-Z">Z</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/filter.js') }}"></script>
{% endblock %}
