{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Recherche{% endblock %}

{% block body %}
  <div class="col grey">
    <h1>Recherche de <mark>{{request}}</mark></h1>
    {% for key, cahier in out %}
      {% if cahier is iterable %}
          <h2>{{cahier.cahier.name}}</h2>
          {% for page in cahier.pages %} 
            <a class="mr-2" href="{{ path('display_page', {'slugName': key, 'name': page}) }}">
              {{page}}
            </a>
          {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
